* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

li {
    list-style: none;
}

.logo {
    align-items: center;
    align-self: center;
    width: 6rem;
    height: 4rem;
}

nav{
    display: flex;
    justify-content: space-around;
    height: 5.5rem;
    align-items: center;
    box-shadow: 0px 0.01px 5px rgb(179, 177, 177);
}

.nav-izq {
    display: flex;
    flex-direction: row;
}

nav.img {
    background-color: black;
}

nav ul {
    display: flex;
}

nav li{
    padding: 2rem;
    border-style:  solid;
    border-color: white;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-width: 5px;
}

nav li:hover {
    border-color: #00754A;
    color: #00754A;   
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-width: 5px;
    cursor: pointer;
}
.style-nav {
    background-color: black;
    width: 2rem;
    position:static;
}

.active {
    border-color: brown;
    color: brown;   
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-width: 5px;
}

main section {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

#img{
    height: 25rem;
    width: 43.7rem;
}

main section div {
    background-color: #F1F8F6;
    height: 25rem;
    width: 43.7rem;
    display: flex;
    justify-content: center;
}

main .section-1 {
    background-color: #D4E9E2;
    height: 21.3rem;
    width: 43.7rem;
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 28vw;
    text-align: center;
    gap: 2rem;
    line-height: 2rem;
}

main section div button {
    border-radius: 18px;
    border-style: solid;
    border-color: black;
    background-color: #F1F8F6; 
    color: black;
    width: fit-content;
    align-self:center ;
    padding: 5px;
    font-size: 1rem;
}

main section div button:hover{
    cursor: pointer;
}

footer {
    box-shadow: 0px 1.5px 12px rgb(179, 177, 177);
    margin-top: 0.3rem;
}

.footer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.info-footer-izq {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    line-height: 3rem;
    padding: 30px;
    gap: 3rem;
    margin-left: 12rem;
}

.info-footer-der{
    margin-right: 12rem;
    padding: 40px;
}

.bottom-footer{
    display: flex;
    justify-content: center;
}

.info-web-ul{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.info-bottom-footer {
    display: flex;
    flex-direction: column;
    text-align: center  ;
    border-top: solid 1px rgb(219, 215, 215);
    width: 60%;
    padding: 40px;
}

.copy-code {
    font-size: 10px;
}

@media only screen and (max-width: 750px) {
    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    section {
      display: flex;
      flex-direction: column;
      width: 100vw;
    }
    main .section-1 {
        background-color: rgb(191, 174, 174);
        height: 6rem;
        width: 43.7rem;
    }

    main .second {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .text-section {
        width: 100vw;
        flex-wrap: nowrap;
        height: 10rem;
    }
    main section div {
        height: 12rem;
    }
    .section-3{
        height: 20rem;
        display: flex;
        flex-direction: column;
    }
  }